.spiders {
    display: flex;
    justify-content: center;
}

.spider {
    display: flex;
    position: relative;
    width: 100px;
    flex-direction: column;

    .spider-string {
        width: 5px;
        flex: 1;
        margin: 0 auto;
    }

    .spider-body {
        font-size: 2.5em;
        text-align: center;
    }

    &.animating .spider-string {
        animation:
            shorten 2s normal 0s forwards,
            extend 2s normal 6s forwards;
    }
}

@keyframes extend {
    0% {
        flex: 0;
    }
    100% {
        flex: 1;
    }
}

@keyframes shorten {
    0% {
        flex: 1;
    }
    100% {
        flex: 0;
    }
}
