$spider-size: 60px;

.spiders {
    display: flex;
    justify-content: center;
}

.spider {
    display: flex;
    position: relative;
    width: $spider-size * 2;
    flex-direction: column;

    .spider-string {
        width: 5px;
        flex: 1;
        margin: 0 auto;
    }

    .spider-body {
        position: relative;
        width: $spider-size;
        height: $spider-size;
        margin: 0 auto;
        line-height: $spider-size;
        font-size: $spider-size * 0.8;
        text-align: center;

        .spider-territory {
            position: absolute;
            width: 200%;
            height: 200%;
            top: -50%;
            left: -50%;
            border-radius: 100%;
        }
    }

    &.animating .spider-string {
        animation:
            shorten 2s normal 0s forwards,
            extend 2s normal 6s forwards;
    }
}

@keyframes extend {
    0% {
        flex: 0;
    }
    100% {
        flex: 1;
    }
}

@keyframes shorten {
    0% {
        flex: 1;
    }
    100% {
        flex: 0;
        margin-top: $spider-size * -1.1;
    }
}
